.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  padding: 20px;
}

.welcome-content {
  margin-top: 100px;
  padding: 20px;

}

.profile-image {
  border-radius: 50%;
  max-width: 200px;
  margin: 0 auto;
}
