<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información del Álbum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://i.ytimg.com/vi/7K5Fi61nF64/maxresdefault.jpg" alt="Un susurro en la tormenta">
    <ion-card-header>
      <ion-card-title>Un susurro en la tormenta</ion-card-title>
      <ion-card-subtitle>La Oreja de Van Gogh</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Un susurro en la tormenta es el octavo álbum de estudio del grupo musical español La Oreja de Van Gogh que fue lanzado el
      18 de septiembre de 2020 bajo el sello discográfico de Sony Music. El primer sencillo, titulado «Abrázame», se estrenó el
      11 de abril de 2020.
    </ion-card-content>
  </ion-card>
</ion-content>
