<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Card Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/pt/5/5d/U2_-_How_to_Dismantle_an_Atomic_Bomb.jpg" alt="How To Dismantle An Atomic Bomb">
    <ion-card-header>
      <ion-card-title>How To Dismantle An Atomic Bomb</ion-card-title>
      <ion-card-subtitle>U2</ion-card-subtitle>
      <ion-card-content>
        How to Dismantle an Atomic Bomb is the eleventh studio album by Irish rock band U2. It was released on 22 November 2004 in the United Kingdom by Island Records and a day later in the United States by Interscope Records.
      </ion-card-content>
    </ion-card-header>
  </ion-card> 
</ion-content>
