<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Repository
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="formData.name" name="name" required label="Name" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!formData.name && formSubmitted">
        <ion-text color="danger">Name is required.</ion-text>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="formData.description" name="description" required label="Description" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!formData.description && formSubmitted">
        <ion-text color="danger">Description is required.</ion-text>
      </ion-item>

      <ion-item>
        <ion-select [(ngModel)]="formData.private" name="isPrivate" label="Visibility" value="false">
          <ion-select-option value="false">Public</ion-select-option>
          <ion-select-option value="true">Private</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button type="submit" shape="round" color="primary" fill="outline" expand="block">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      Update Repository
    </ion-button>
  </form>
</ion-content>
